


body {
	background: linear-gradient(-45deg, #e4876b, #d46892, #76c3df, #6f9c92);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



h1, h3, p{
    color:rgb(7, 7, 7);
    font-family: 'Playfair';
}

.chart{
    background-color: white;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}

