

body {
	background: linear-gradient(-45deg, #e4876b, #d46892, #76c3df, #6f9c92);
	background-size: auto;
	animation: gradient 15s ease infinite
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#wrapper{margin: 10 auto;}

h1, h3, p{
    color:rgb(7, 7, 7);
    font-family: 'Playfair';
}

#containerd {
    margin-left: auto;
    margin-right: auto;
}

#master { 
    margin:0 auto;
    width: 1000px;
	margin-left: 400px;
}

.chart{
	/*display: run-in;
	align-items: center;*/
	justify-content: center;
    background-color: white;
    width: auto;
	height: auto;
	padding: 5px;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
	font-size: 10pxp;
	max-width: 800px;
}

h1 {
	text-align: center;
	font-weight: bold;
}

h1 {
	text-align: center
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bcontainer {
	display: flex;
	flex-flow: flex-flow;
	align-items: center;
	align-self: center;
	justify-content: center;
	position:relative;
	display: block;
	margin-top: 30px;
	border-style: solid;
	border-color: #eb176b ;
	background-color: #a9dadb;
	padding: 30px;
	border-radius: 25px;
	text-align: center;
}

.hcontainer {
	display: flex;
	flex-flow: flex-flow;
	align-items: center;
	align-self: center;
	justify-content: center;;
	gap: 30px 30px;
	margin-top: 30px;
	border-style: solid;
	border-color: #eb176b ;
	background-color: #124874;
	padding: 30px;
	border-radius: 25px;
	text-align: center;
}


.ccontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;;
}

.box {
	box-sizing:border-box;
	background-color:#bbc3c9;
	width:auto;
	border-radius:10px;
	padding:30px;
	text-align:center;
	display:inline-block;
	margin: 10px;
	max-width:950px;
  }

.image-wk4-container {
	box-sizing:border-box;
	background-color:#ffffff;
	width:auto;
	border-radius:10px;
	padding:30px;
	text-align:center;
	display:inline-block;
	margin: 10px;
	max-width:850px;

}

.image-week4 {
	box-sizing:border-box;
	background-color:#ffffff;
	width:700;
	border-radius:10px;
	text-align:center;
	display:inline-block;
	margin: 10px;
	max-width:800px;
}
  
.image-week9 {
	box-sizing:border-box;
	background-color:#ffffff;
	width:300;
	border-radius:10px;
	text-align:center;
	display:inline-block;
	margin: 10px;
	max-width: 600px;
}

